.DS_STORE
__pycache__
*.log
node_modules
dist
coverage
.idea/
.yarn-cache
*.zip
.vscode
*.exe
*.com
*.dcu
BAR
Cooltray
__history
BIBLIOTECA/EasyXML
BIBLIOTECA/EKRTF
BIBLIOTECA/FastMM4
BIBLIOTECA/fndUtl328
BIBLIOTECA/HttpGet
BIBLIOTECA/indy
BIBLIOTECA/NativeXml
BIBLIOTECA/tponguard_115
BIBLIOTECA/TVidGrab
DCU
*.txt
Intrcpt
*.XML
*.MAD
*.MAP
